<h1> FIND YOUR STUDENT DETAILS ABOUT <%=@student.first_name%> HERE... </h1>


<a class="btn btn-primary" href="<%=root_path%>" role="button">Back to home!</a>

<%= link_to "[Edit]", edit_student_path(@student.id) %>
<%= link_to "[Delete]", student_path(@student.id), method: :delete, data: { confirm: "Are you sure?" } %>
